/*Colores*/

/* Color Theme Swatches in Hex */
.Color-Psychology-Themes-Verde-hex { color: #33F000; }
.Color-Psychology-Themes-Naranja-hex { color: #E84807; }
.Color-Psychology-Themes-Rojo-hex { color: #B81309; }
.Color-Psychology-Themes-Amarillo-hex { color: #FFEA00; }
.Color-Psychology-Themes-Azul-hex { color: #0914C9; }

/* Color Theme Swatches in RGBA */
.Color-Psychology-Themes-1-rgba { color: rgba(51, 239, 0, 1); }
.Color-Psychology-Themes-2-rgba { color: rgba(232, 72, 7, 1); }
.Color-Psychology-Themes-3-rgba { color: rgba(184, 18, 8, 1); }
.Color-Psychology-Themes-4-rgba { color: rgba(255, 233, 0, 1); }
.Color-Psychology-Themes-5-rgba { color: rgba(8, 20, 200, 1); }

/*Fonts*/

body {font-family: 'Lato', sans-serif;}
h1 {font-family: 'Qwigley', cursive;} 
h2, h3, h4, h5 {font-family: 'Vollkorn', serif;}


/*Títulos*/

h1 {
  display: block;
  font-size: 186px;
  margin-top: 0.2em;
  margin-bottom: 0.0em;
  margin-left: 0;
  margin-right: 0;
  font-weight: 500;
}

 h2 {
	 display: block;
	 font-size: 50px;
	 margin-top: 0.67em;
	 margin-bottom: 0.67em;
	 margin-left: 0;
	 margin-right: 0;
	 font-weight: 600;
	 font-family: serif;
     color: rgba(39, 29, 12);

 }

 h3 {
 	display: block;
	font-size: 20px;
	margin-top: 0.67em;
	margin-bottom: 0.67em;
	margin-left: 0;
	margin-right: 0;
	font-weight: 500;
	font-family: sans-serif;
    color: rgba(39, 29, 12);
 }

.d-none { display: block; height: 1px;
    border: 0; border-top: 1px solid #FFF;
    margin: 1em 0; padding: 0; }

/*Header*/

.p_header {margin-top: -5rem;
    margin-bottom: 1rem;
    color:white;
}

.btn-primary {
    color: rgba(58, 39, 6);
    background-color: #fe903a;
    border-color: #353430;
}

.btn-primary:hover {
    color: rgba(58, 39, 6);
    background-color: #ff730f;
    border-color: #353430;
}

/*NavBar*/

/*.bg-light {
background: linear-gradient(to right, #e06337, #ff8d2b), url() no-repeat top center;
}
*/
.bg-light {
background: linear-gradient(to right, white, #ff8d2b), url() no-repeat top center;
}

.navbar-nav .nav-link {
    color: rgba(58, 39, 6, 0.83)!important;
}

.navbar-brand {
    color: rgba(58, 39, 6, 0.83)!important;
}

/*Tamaño de secciones
*/

header {
    padding-top: 5.5rem;
    padding-bottom: 6rem;
    text-align: center;
    color: #fff;
    background: linear-gradient(rgba(33, 34, 38, 0.6), rgba(33, 34, 38, 0.6)), url(../images/terapiaprincipal.jpg);
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    background-size: cover;
    height: 95vh;
}

.modal-body	{
    color:black;
}

/*Textos*/	

p {
	font-size: 25px;
    color: rgba(45, 31, 7);
}
.centrar-texto { 

	margin-bottom: 40px;
    font-weight: 500;
    line-height: 1.2;
    margin-top: 60px;
    text-align: center;
 }


 /*Imágenes*/

 /*tamaños*/

/* tamaño imagen karla*/

.tamaño_icon{
        height:50px;
        width: 50px
}


.t_karla {
	height:auto;
	width: 300px
}

/*Tamaño imagen anahuac*/
.t_anahuac {
    margin-top: 5vh;
    height: 90%;
    width: auto;
}
/*Tamaño imagen kanankil*/
.t_kana {
    height: 99%;
    width: auto;
}

/*Tamaño imagen tanatologia*/

.t_tanato {
    height: 108%;
    width: auto;
}



/*Alineación Areas de actención*/



.areasdeatencion {
	font-size: 30px;
	font-family: 'Vollkorn', serif;
}

/*Seccion Areas de atencion*/

.circle {
	height: 150px;
	width: auto;
	border-radius: 50%;
}

.padding-pareja {
    padding-right: 10vh;
}

/*Seccion areas de terapia*/
#Saladeterapia {
    padding-top: 10.5rem;
    padding-bottom: 6rem;
    text-align: center;
    color: #fff;
    background: linear-gradient(rgba(33, 34, 38, 0.6), rgba(33, 34, 38, 0.6)), url(../images/saladeterapia.jpg);
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    background-size: cover;
}

/*Seccion nota*/

#Nota {
	padding-top: 10.5rem;
    padding-bottom: 6rem;
    text-align: center;
    color: #fff;
    background: linear-gradient(rgba(33, 34, 38, 0.6), rgba(33, 34, 38, 0.6)), url(../images/terapeuta.jpg);
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    background-size: cover;
}


.border{
	border-style: ridge;
    margin-top: -26vh;
    margin-bottom: -14vh;
    border: 1px solid #FFF!important;
}

.border_salaterapia{
	border-style: ridge;
    border: 1px solid #FFF!important;
}